* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    /*display: flex coloca todo o conteudo dentro do objeto em linha e faz com que ele preencha todo o espaço disponível*/
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    /*coloca o footer embaixo de tudo*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    flex-direction: row;
    /*eixo y, vertical*/
    align-items: center;
    /*eixo x, horizontal - start(original) - começa a espaçar da esquerda para direita*/
    justify-content: center;
    margin: 32px auto 0;
    max-width: 935px;
    padding-bottom: 32px;
    width: 100%;
    
}

.instagram-phone {
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    /*flex-direction: column - faz os itens ficarem um embaixo do outros, ao invez de em linha*/
    flex-direction: column;
    max-width: 350;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

/*seleciona o primeiro item com a classe group*/
.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /*tudo que sai para fora da div é escondido*/
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

footer {
    display: flex;
    flex-direction: column;
}

.instagram-footer {
    display: flex;
    flex: 0 0 auto;
    /*comando faz com que os itens fiquem no meio ao quebrar a linha*/
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;    
}

.item-footer {
    margin: 1px;
    padding: 1px;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 12px;
    display: flex;
}

.link-footer {
        display: block;
        color: #8e8e8e;
        font-weight: 400;
        font-size: 12px;
        margin: -2px 0 -3px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.select-footer {
    display: flex;
    cursor: pointer;
    box-sizing: border-box;
}

select {
    border: 1px solid transparent;
    background-color: rgb(243, 243, 243);
}

/* media queries*/

/*@media (max-width: 1024px) {

    .instagram-wrapper {
        width: 90%;
    }

}*/

@media (max-width: 875px) {

    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    select {
        background-color: #ffffff;
    }

}

@media (max-width: 450px) {

    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .group {
        border: 1px solid transparent;
    }

    select {
        background-color: #ffffff;
    }

}